<!-- templates/view_document.html -->
{% extends 'transactions/base.html' %}

{% block content %}
  <div class="container">
    <h2>Documents for {{ ref }}</h2>
    {% if transaction %}
      {% for doc in transaction %}
        <div class="mb-3">
          <p><strong>Document Name:</strong> {{ doc.document.name }}</p>
        {% if ".pdf" in doc.document.url %}
          <iframe src="{{ doc.document.url }}" width="100%" height="600px"></iframe>

            {% else %}
          <img src="{{ doc.document.url }}" class="img-fluid" alt="Document Image">
        {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p>No documents found.</p>
    {% endif %}
  </div>
{% endblock %}
